.contact {
    background-color: #F1F2FE;
    opacity: 0;
    animation: contact-anim 2s 1s forwards;
    padding-top: 10vh;
    .header {
        margin: 4vh 0 0 0;
        text-align: center;
        #header-slogan {
            display: inline-block;
            font-size: 1.5em;
            font-family: "monserrat", serif;
            text-transform: uppercase;
            background-color: #647895;
            color: white;
            border-radius: 5px;
            padding: 7px 30px;
            opacity: .7;
        }
        #header-title {
            font-size: 4em;
            font-family: "playfair display", serif;
            font-weight: bold;
        }
    }
    form {
        margin: 1vh 0 5vh 0;
        .row {
            margin: 2vh 0;
        }
        .form-control {
            width: 80%;
            border-color: #bec4ce;
            padding: 25px 10px;
            &:focus {
                box-shadow: none;
                border-color: black;
            }
            &::placeholder {
                font-family: "monserrat", sans-serif;
                font-size: 0.8em;
            }
        }
        .textarea-col {
            margin-left: 9.6%;
            .form-control {
                width: 89.4%;
                padding: 10px;
            }
        }
        .button-contact-col {
            text-align: center;
            margin: 4vh 0;
            .btn-info {
                background-color: #647895;
                font-size: 2em;
                padding: 15px 30px;
                border-color: #6a7d99;
                color: white;
                &:hover {
                    background-color: #3c4f6b;
                }
            }
        }
        .icon-contact-col {
            text-align: center;
            margin-top: 10vh;
            .contact-arrow-up {
                cursor: pointer;
                font-size: 20px;
                color: #4b5d79;
                animation: icon-anim 1s infinite forwards;
                position: relative;
                bottom: 0x;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .contact {
        form {
            margin-top: 2vh;
            .form-control {
                width: 100%;
            }
            .row {
                margin: -1vh 0;
            }
            .col {
                margin: 1.25vh 0;
            }
            .textarea-col {
                margin-left: 0;
                .form-control {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 575.98px) {
    .contact {
        .header {
            margin-top: 8vh;
        }
        form {
            .button-col {
                margin-top: 4vh;
                margin-bottom: 4vh;
            }
        }
    }
}

@keyframes contact-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes icon-anim {
    from {
        bottom: 0px;
    } to {
        bottom: 20px;
    }
}