$home-dark-color: #647895;
$home-light-color: #ABB6C5;

@font-face {
    font-family: logo-font;
    src: url("../../../assets/MrDeHaviland-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

.home {
    margin-bottom: 10vh;
    padding: 0px;
    min-height: 100%;
    .home-image {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        opacity: 0;
        animation: home-image-anim 2s 1s 1 forwards;
        .custom-image {
            width: 53vw;
            height: auto;
        }
    }
    .home-content-container {
        width: 40vw;
        position: relative;
        top: 13vh;
        margin-left: 7vw;
        opacity: 0;
        animation: home-content-anim 2s 1s 1 forwards;
        h3 {
            font-size: 6em;
            font-family: "playfair-bold", serif;
            margin-top: 3vh;
        }
        #title {
            font-family: "monserrat", serif;
            font-size: 2em;
        }
        #person-content {
            font-family: "monserrat", sans-serif;
            font-size: 1.6em;
            line-height: 35px;
            text-align: justify;
            margin-top: 4vh;
            margin-bottom: 3vh;
            padding-right: 3vw;
        }
        #welcome-title {
            font-size: 2em;
            font-family: "monserrat", serif;
            background-color: $home-light-color;
            color: white;
            border-radius: 5px;
            padding: 10px;
            opacity: .5;
        }
        .btn {
            padding: 15px 30px;
            font-size: 2em;
            font-family: "monserrat", sans-serif;
            margin-top: 2vh;
        }
        .btn-primary {
            background-color: $home-dark-color;
            border: none;
            &:hover {
                background-color: rgb(78, 96, 128)
            }
        }
        .btn-outline-primary {
            border-color: $home-dark-color;
            color: $home-dark-color;
            margin-left: 2vw;
            &:hover {
                background-color: rgb(78, 96, 128);
                color: white;
            }
            &:focus, &:active {
                box-shadow: none !important;
                background-color: rgb(78, 96, 128) !important;
            }
        }
    }
    .social-icons {
        a {
            color: #253142;
        }
        position: fixed;
        display: flex;
        flex-direction: column;
        transform: translateX(-300px);
        animation: social-icons-anim 2s 1s 1 forwards;
        z-index: 2;
        #linkedin-icon, #github-icon, #instagram-icon{
            font-size: 5em;
            border-radius: 0 50% 50% 0;
            padding: 15px;
            padding-left: 10px;
            transition: background-color .7s;
            &:hover {
                background-color: $home-dark-color;
                cursor: pointer;
                color: white;
            }
        }
        #github-icon {
            margin: 1.5vh 0;
        }
    }
    nav {
        position: relative;
        top: -100px;
        animation: navbar-anim 2s 1.5s forwards;
        .nav-menu {
            display: flex;
            flex-direction: row;
            height: auto;
            width: 100%;
            label.logo {
                font-family: logo-font;
                font-weight: 600;
                color: black;
                font-size: 3em;
                padding: 1px 0 0 8vw;
                cursor: pointer;
            }
            ul {
                padding: 1.2vh 0;
                list-style-type: none;
                margin-left: 5vw;
            }
            li {
                font-family: "sitka text", serif;
                display: inline-block;
                margin: 0 2vw;
                font-size: 1.8em;
                cursor: pointer;
            }
            a {
                color: black;
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid black;
                }
            }
        }
        .checkbtn {
            font-size: 2em;
            cursor: pointer;
            display: none;
        }
        #check {
            display: none;
        }
    }
}

@media (min-width: 1440px) {
    .home {
        .home-image {
            .custom-image {
                width: 25vw;
                height: auto;
            }
        }
    }
}
    

@media (min-width: 576px) and (max-width: 768px) {
    .home {
        .home-content-container {
            width: 100vw;
            margin: 35vh 0 0 0;
            #person-content {
                padding-right: 0px;
            }
        }
        .home-image {
            .custom-image {
                width: 70vw;
                height: auto;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .home {
        margin-bottom: 4vh;
        .home-content-container {
            margin: 40vh 0 0 0;
            width: 95vw;
            #person-content {
                padding-right: 0px;
            }
        }
        .home-image {
            .custom-image {
                width: 98vw;
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        .social-icons {
            display: none;
        }
        nav {
            #check{
                &:checked ~ .nav-menu {
                    left: 0;
                }
            }
            .checkbtn {
                display: inline-block;
                margin: 2vh 2vw;
            }
            .nav-menu {
                z-index: 1;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                background-color: #222222;
                transition: all .5s;
                flex-direction: column;
                label.logo {
                    color: white;
                    font-size: 5em;
                    width: 100%;
                    text-align: center;
                    top: 10vh;
                    padding: 0;
                }
                ul {
                    width: 100%;
                    height: 80vh;
                    top: 20vh;
                    background-color: #222222;
                    text-align: center;
                    transition: all .5s;
                    margin: 0;
                }
                li {
                    display: block;
                    margin: 5vh 0;
                }
                a {
                    color: white;
                    font-size: 2em;
                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }
}

@keyframes navbar-anim {
    from {
        top: -100px;
    }
    to {
        top: 10px;
    }
}

@keyframes home-content-anim {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 100;
        transform: translateY(0px);
    }
}

@keyframes home-image-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes social-icons-anim {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}